
@{

}

<div class="box box-primary box-solid">
    <div class="box-header">
        <h3 class="box-title">Audit Trail</h3>
        <div class="pull-right">
        </div>

    </div>

    <div class="box-body">

        <table id="MyDataTable" class="display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>
                      Account Name
                    </th>
                    <th>
                       Account Email
                    </th>
                    <th>
                        Add Bill
                    </th>
                   
                </tr>
            </thead>

            <tbody></tbody>

        </table>
        <div class="modal fade" id="myModal1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="#" class="close" data-dismiss="modal">&times;</a>
                        <h3 class="modal-title">Admin Settings</h3>
                    </div>
                    <div class="modal-body" id="myModalBodyDiv1">


                    </div>


                </div>

            </div>

        </div>

        <input type="hidden" id="hiddenEmployeeId" />
    </div>
</div>




<script>

    $(document).ready(function () {

        // $("#MyDataTable").DataTable();

        GetForPrinting();
    })
    var GetForPrinting = function () {

        $.ajax({

            type: "Get",
            url: "/Admin/getviewBill",
            success: function (response) {

                BindDataTable(response);

            }
        })

    }


    var BindDataTable = function (response) {

        $("#MyDataTable").DataTable({
            "order": [[1, "asc"]],
            "aaData": response,
            "aoColumns": [
                { "mData": "AccountName" },
                { "mData": "AccountEmail" },
                {
                    "data": "Id", "name": "Id",
                    "render": function (Id, type, full, meta) {

                        return '<a href="#" onclick="AddEditDetails(' + Id + ')"><i class="glyphicon glyphicon-eye-open" center></i></a>'



                    }
                }


            ]

        });
    }



    var AddEditDetails = function (Id) {

        $.ajax({
            type: "Post",
            url: "/Admin/AddBill?Id=" + Id,
            success: function () {

                window.location.href = "/Admin/AddBill?Id=" + Id;


            }



        })



    }


</script>




